[submodule "FactorioLoaderLib"]
	path = FactorioLoaderLib
	url = https://github.com/stalepancakes/FactorioLoaderLib.git
[submodule "factorio-web-calc"]
	path = factorio-web-calc
	url = https://github.com/stalepancakes/stalepancakes.github.io.git
